USE [Drivers]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 12:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [nchar](10) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[middlename] [nvarchar](max) NOT NULL,
	[patronymic] [nvarchar](max) NOT NULL,
	[Ссерия_и_номер_паспорта] [nvarchar](max) NOT NULL,
	[postcode] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[address_life] [nvarchar](max) NULL,
	[company] [nvarchar](max) NOT NULL,
	[jobname] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[photo] [nvarchar](max) NOT NULL,
	[decription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.12.2021 12:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [nchar](10) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Drivers] ([ID], [name], [middlename], [patronymic], [Ссерия_и_номер_паспорта], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo], [decription]) VALUES (N'1         ', N'Alonso', N'Caleb', N'Hopkins', N'1607162303', N'760832', N'452 Cobblestone St.', N'', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [name], [middlename], [patronymic], [Ссерия_и_номер_паспорта], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo], [decription]) VALUES (N'10        ', N'Lincoln', N'Emeline', N'Mason', N'6897005387', N'252988', N'Egg Harbor Township, NJ 08234', N'', N'Avon', N'Judge', N'2839453092', N'jnolan@aol.com', N'010-drool.png', N'')
INSERT [dbo].[Drivers] ([ID], [name], [middlename], [patronymic], [Ссерия_и_номер_паспорта], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo], [decription]) VALUES (N'100       ', N'Eleanor', N'George', N'Zavala', N'6567063709', N'905558', N'Hartford, CT 06106', N'', N'Global Gillette', N'Teacher Assistant', N'79834704528', N'crusader@sbcglobal.net', N'100-whistle.png', N'')
GO
INSERT [dbo].[User] ([id], [login], [password]) VALUES (N'1         ', N'inspector', N'inspector')
GO
